.container {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.title{
    margin: 40px;
    font-family: "Merriweather", serif;
}

.cel {
    margin: 20px;
}

.rSociais{
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    display: flex;
    margin-top: 60px;
    margin-bottom: 100px;
}

.instagram {
    color: coral;
    font-size: 2rem;
    border: 1px solid var(--btGrey);
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 10px 20px 0;
    text-align: center;
    border-radius: 50%;
    background-color: var(--btWhite) !important;
}

.twitter {
    color: lightskyblue;
    font-size: 2rem;
    border: 1px solid var(--btGrey);
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 10px 20px 0;
    text-align: center;
    border-radius: 50%;
    background-color: var(--btWhite) !important;
}

.facebook {
    color: mediumblue;
    font-size: 2rem;
    border: 1px solid var(--btGrey);
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 10px 20px 0;
    text-align: center;
    border-radius: 50%;
    background-color: var(--btWhite) !important;
}

.linkedin {
    color: blue;
    font-size: 2rem;
    border: 1px solid var(--btGrey);
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 10px 20px 0;
    text-align: center;
    border-radius: 50%;
    background-color: var(--btWhite) !important;
}

.whatsapp {
    color: limegreen;
    font-size: 2rem;
    border: 1px solid var(--btGrey);
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 10px 20px 0;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--btWhite) !important;
}